<div style="height: 40px; width:100%; line-height: 35px; background-image: linear-gradient(to right,orangered, rgba(2,0,36,1))">
<span style="float: right; margin-right: 5px;">
    <a routerLink="Tutorial" routerLinkActive="active" style="color:whitesmoke; text-decoration: none; font-size: smaller; font-family: 'Lucida Sans'">Tutorial</a>&nbsp; &nbsp;
    <a routerLink="About" routerLinkActive="active" style="color:whitesmoke; font-size: smaller; text-decoration: none; font-family: 'Lucida Sans'">About</a>&nbsp; &nbsp;
    <a routerLink="Home" routerLinkActive="active" style="color:whitesmoke; font-size: smaller; text-decoration: none; font-family: 'Lucida Sans'">Home</a>&nbsp; &nbsp;            
    <a routerLink="Login" routerLinkActive="active" style="color:whitesmoke; font-size: smaller; text-decoration: none; font-family: 'Lucida Sans'">Login</a>&nbsp; &nbsp;
    <a routerLink="Logout" routerLinkActive="active" style="color:whitesmoke; font-size: smaller; text-decoration: none; font-family: 'Lucida Sans'">Logout</a>
</span>       
</div>
<router-outlet></router-outlet>